{{- $gitconfig_files := list -}}
{{- if hasKey . "gitconfig_files" -}}
    {{- $gitconfig_files = .gitconfig_files -}}
{{- else -}}
    {{- if promptBoolOnce . "_" "Include default 'gitconfig.json' file" true -}}
        {{- $gitconfig_files = append $gitconfig_files "./data/gitconfig.json" -}}
        {{- if stat (joinPath .chezmoi.sourceDir ".." "data" (printf "gitconfig_%s.json" .chezmoi.osRelease.id)) -}}
            {{- $gitconfig_files = append $gitconfig_files (printf "./data/gitconfig_%s.json" .chezmoi.osRelease.id) -}}
        {{- end -}}
    {{- end -}}
    {{- if $gitconfig_extra := promptStringOnce . "_" "Include additional 'gitconfig.json' file" "" -}}
        {{- $gitconfig_files = append $gitconfig_files $gitconfig_extra -}}
    {{- end -}}
{{- end -}}

{{- $gsettings_files := list -}}
{{- if hasKey . "gsettings_files" -}}
    {{- $gsettings_files = .gsettings_files -}}
{{- else -}}
    {{- if promptBoolOnce . "_" "Include default 'gsettings.json' file" true -}}
        {{- $gsettings_files = append $gsettings_files "./data/gsettings.json" -}}
        {{- if stat (joinPath .chezmoi.sourceDir ".." "data" (printf "gsettings_%s.json" .chezmoi.osRelease.id)) -}}
            {{- $gsettings_files = append $gsettings_files (printf "./data/gsettings_%s.json" .chezmoi.osRelease.id) -}}
        {{- end -}}
    {{- end -}}
    {{- if $gsettings_extra := promptStringOnce . "_" "Include additional 'gsettings.json' file" "" -}}
        {{- $gsettings_files = append $gsettings_files $gsettings_extra -}}
    {{- end -}}
{{- end -}}

{{- $gnome_extensions_files := list -}}
{{- if hasKey . "gnome_extensions_files" -}}
    {{- $gnome_extensions_files = .gnome_extensions_files -}}
{{- else -}}
    {{- if promptBoolOnce . "_" "Include default 'gnome-extensions.txt' file" true -}}
        {{- $gnome_extensions_files = append $gnome_extensions_files "./data/gnome-extensions.txt" -}}
        {{- if stat (joinPath .chezmoi.sourceDir ".." "data" (printf "gnome-extensions_%s.txt" .chezmoi.osRelease.id)) -}}
            {{- $gnome_extensions_files = append $gnome_extensions_files (printf "./data/gnome-extensions_%s.txt" .chezmoi.osRelease.id) -}}
        {{- end -}}
    {{- end -}}
    {{- if $gnome_extensions_extra := promptStringOnce . "_" "Include additional 'gnome-extensions.txt' file" "" -}}
        {{- $gnome_extensions_files = append $gnome_extensions_files $gnome_extensions_extra -}}
    {{- end -}}
{{- end -}}

{{- $mimetypes_files := list -}}
{{- if hasKey . "mimetypes_files" -}}
    {{- $mimetypes_files = .mimetypes_files -}}
{{- else -}}
    {{- if promptBoolOnce . "_" "Include default 'mimetypes.json' file" true -}}
        {{- $mimetypes_files = append $mimetypes_files "./data/mimetypes.json" -}}
        {{- if stat (joinPath .chezmoi.sourceDir ".." "data" (printf "mimetypes_%s.json" .chezmoi.osRelease.id)) -}}
            {{- $mimetypes_files = append $mimetypes_files (printf "./data/mimetypes_%s.json" .chezmoi.osRelease.id) -}}
        {{- end -}}
    {{- end -}}
    {{- if $mimetypes_extra := promptStringOnce . "_" "Include additional 'mimetypes.json' file" "" -}}
        {{- $mimetypes_files = append $mimetypes_files $mimetypes_extra -}}
    {{- end -}}
{{- end -}}

[data]
gitconfig_files = [ {{ $gitconfig_files | quoteList | join ", " }} ]
gsettings_files = [ {{ $gsettings_files | quoteList | join ", " }} ]
gnome_extensions_files = [ {{ $gnome_extensions_files | quoteList | join ", " }} ]
mimetypes_files = [ {{ $mimetypes_files | quoteList | join ", " }} ]
