#!/bin/bash
# Chezmoi hook to load GSettings and dconf values

quote() {
    local QUOTED=
    for ARG in "$@"; do
        [ "$(printf '%q' "$ARG")" == "$ARG" ] \
            && QUOTED+=" $ARG" \
            || QUOTED+=" ${ARG@Q}"
    done
    echo "${QUOTED:1}"
}

echo "Running Chezmoi hook 'run_onchange_gsettings.sh' to apply GSettings and dconf config..."

# $GNOME Shell status: {{ if lookPath "gnome-shell" }}Installed{{ else }}Missing{{ end }}$
[ -x "$(type -p gnome-shell)" ] || { echo "Skipping Chezmoi hook: GNOME Shell is not installed" >&2; exit 0; }

# $Hash: {{ include (joinPath .chezmoi.sourceDir ".." "scripts" "gsettings.sh") | sha256sum }}$
SCRIPT='{{ joinPath .chezmoi.sourceDir ".." "scripts" "gsettings.sh" }}'

DATA_FILES=(
{{- range .gsettings_files }}
{{- if hasPrefix "/" . }}
    # $Hash: {{ include . | sha256sum }}$
    '{{ . }}'
{{- else if hasPrefix "~" . }}
    # $Hash: {{ include (joinPath $.chezmoi.homeDir .) | sha256sum }}$
    '{{ joinPath $.chezmoi.homeDir . }}'
{{- else }}
    # $Hash: {{ include (joinPath $.chezmoi.sourceDir ".." .) | sha256sum }}$
    '{{ joinPath $.chezmoi.sourceDir ".." . }}'
{{- end }}
{{- end }}
)

(( ${#DATA_FILES[@]} > 0 )) || { echo "Skipping Chezmoi hook: No data files are configured" >&2; exit 0; }

for DATA_FILE in "${DATA_FILES[@]}"; do
    quote + "$SCRIPT" "$DATA_FILE" >&2
    "$SCRIPT" "$DATA_FILE" ||:
done
