#!/bin/bash
# Chezmoi hook to install GNOME Shell extensions

quote() {
    local QUOTED=
    for ARG in "$@"; do
        [ "$(printf '%q' "$ARG")" == "$ARG" ] \
            && QUOTED+=" $ARG" \
            || QUOTED+=" ${ARG@Q}"
    done
    echo "${QUOTED:1}"
}

echo "Running Chezmoi hook 'run_onchange_gnome-extensions.sh' to install GNOME Shell extensions..."

# $GNOME Shell status: {{ if lookPath "gnome-shell" }}Installed{{ else }}Missing{{ end }}$
[ -x "$(type -p gnome-shell)" ] || { echo "Skipping Chezmoi hook: GNOME Shell is not installed" >&2; exit 0; }

# $Hash: {{ include (joinPath .chezmoi.sourceDir ".." "scripts" "gnome-extensions.sh") | sha256sum }}$
SCRIPT='{{ joinPath .chezmoi.sourceDir ".." "scripts" "gnome-extensions.sh" }}'

DATA_FILES=(
{{- range .gnome_extensions_files }}
{{- if hasPrefix "/" . }}
    # $Hash: {{ include . | sha256sum }}$
    '{{ . }}'
{{- else if hasPrefix "~" . }}
    # $Hash: {{ include (joinPath $.chezmoi.homeDir (trimPrefix "~" .)) | sha256sum }}$
    '{{ joinPath $.chezmoi.homeDir (trimPrefix "~" .) }}'
{{- else }}
    # $Hash: {{ include (joinPath $.chezmoi.sourceDir ".." .) | sha256sum }}$
    '{{ joinPath $.chezmoi.sourceDir ".." . }}'
{{- end }}
{{- end }}
)

(( ${#DATA_FILES[@]} > 0 )) || { echo "Skipping Chezmoi hook: No data files are configured" >&2; exit 0; }

for DATA_FILE in "${DATA_FILES[@]}"; do
    readarray -t EXTENSIONS <"$DATA_FILE"

    if (( ${#EXTENSIONS[@]} > 0 )); then
        quote + "$SCRIPT" "${EXTENSIONS[@]}" >&2
        "$SCRIPT" "${EXTENSIONS[@]}" ||:
    fi
done
